<template>
    <div class='row'>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-right">
                        <md-button type="button" v-bind:href="usersList()" class="md-raised md-primary">Users List</md-button>
                    </div>
                    <div class="col-md-12">
                        <h2 class="text-center">Create User</h2>
                        <form method="POST" accept-charset="UTF-8" class="form-horizontal" novalidate
                              role="form" enctype="multipart/form-data">
                            <input type="hidden" id="csrf-token" name="_token" value=""/>

                            <div class="form-group" :class="{'has-error': errors.has('name')}">
                                <label class="control-label required">Name</label>
                                <input class="form-control" type="text" v-model="user.name" v-validate="'required|min:5|max:30'"
                                       name="name" placeholder="User Name" autofocus>
                                <div :class="{'text-danger': errors.has('name')}">
                                    {{errors.first('name')}}
                                </div>
                            </div>

                            <div class="form-group" :class="{'has-error': errors.has('email')}">
                                <label class="control-label required">Email</label>
                                <input class="form-control" type="email" name="email" v-model="user.email" v-validate="'required|email|max:50'"
                                       placeholder="Email Address">
                                <div :class="{'text-danger': errors.has('email')}">
                                    {{errors.first('email')}}
                                </div>
                            </div>

                            <div class="form-group" :class="{'has-error': errors.has('phone')}">
                                <label class="control-label required">Phone</label>
                                <input class="form-control" type="number" name="phone" v-model="user.phone" v-validate="'required|min:11|max:15'"
                                       placeholder="Phone Number">
                                <div :class="{'text-danger': errors.has('phone')}">
                                    {{errors.first('phone')}}
                                </div>
                            </div>

                            <div class="form-group" :class="{'has-error': errors.has('gender')}">
                                <label class="control-label col-sm-3">Gender</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" v-model="user.gender" name="gender"
                                                       md-value="female" v-validate="'required|in:male,female'" value="female">Female
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" v-model="user.gender" name="gender"
                                                       md-value="male" v-validate="'required|in:male,female'" value="male">Male
                                            </label>
                                        </div>
                                    </div>
                                    <div :class="{'text-danger': errors.has('gender')}">
                                        {{errors.first('gender')}}
                                    </div>
                                </div>
                            </div> <!-- /.form-group -->

                            <div class="form-group" :class="{'has-error': errors.has('dob')}">
                                <label class="control-label required">Date of Birth</label>
                                <input class="form-control date-picker" type="date" name="dob" v-model="user.dob"
                                       v-validate="'required'" placeholder="Date Of Birth">
                                <div :class="{'text-danger': errors.has('dob')}">
                                    {{errors.first('dob')}}
                                </div>
                            </div>

                            <div class="form-group" :class="{'has-error': errors.has('biography')}">
                                <label class="control-label required">Biography</label>
                                <textarea class="form-control" name="biography" v-model="user.biography"
                                          v-validate="'required|min:10|max:100'" placeholder="User Biography Here" cols="30" rows="8">
                            </textarea>

                                <div :class="{'text-danger': errors.has('biography')}">
                                    {{errors.first('biography')}}
                                </div>
                            </div>

                            <md-input-container :class="{'has-error': errors.has('avatar')}">
                                <label class="control-label required">Avatar</label>
                                <md-file type="image" accept="image/jpeg, image/png" name="avatar"
                                         v-model="user.avatar" v-validate="'required|max:1024'">
                                </md-file>
                                <div :class="{'text-danger': errors.has('avatar')}">
                                    {{errors.first('avatar')}}
                                </div>
                            </md-input-container>
                            <div class="form-options form-group">
                                <md-button type="submit" class="md-raised md-primary">Save</md-button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueMaterial from 'vue-material'
    import 'vue-material/dist/vue-material.css'
    import MaterialCss from 'vue-material-radio'
    import VueValidate from 'vee-validate'

    Vue.use(VueMaterial);
    Vue.use(MaterialCss);
    Vue.use(VueValidate);

    $(document).ready(function () {
       $("#csrf-token").val(window.Laravel.csrfToken);
       let url = window.baseUrl+"/users/create";
       $("form").attr('action', url);
    });

    export default {
        data() {
            return {
                user: {
                    name: '',
                    email: '',
                    gender: 'male',
                    phone: '',
                    dob: '',
                    biography: '',
                    avatar: '',
                }
            };
        },
        methods: {
            usersList() {
                return window.baseUrl+'/';
            }
        }
    }
</script>
