<template>
    <div class='row'>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-right">
                        <md-button type="button" v-bind:href="createUser()" class="md-raised md-primary">Add New</md-button>
                    </div>
                    <div class="col-md-12">
                        <md-table v-once>
                            <md-table-header>
                                <md-table-row>
                                    <md-table-head>Avatar</md-table-head>
                                    <md-table-head>Name</md-table-head>
                                    <md-table-head>Email</md-table-head>
                                    <md-table-head>DOB</md-table-head>
                                    <md-table-head>Gender</md-table-head>
                                    <md-table-head>Phone</md-table-head>
                                    <md-table-head>Biography</md-table-head>
                                </md-table-row>
                            </md-table-header>

                            <md-table-body>
                                <md-table-row v-if='list.length === 0'>
                                    <md-avatar aria-colspan="7" class="text-center text-warning">
                                        User not exists!
                                    </md-avatar>
                                </md-table-row>
                                <md-table-row v-else v-for="(user, index) in list" :key="index">
                                    <md-table-cell><md-avatar><img v-bind:src="getAvatar(user.avatar)"></md-avatar></md-table-cell>
                                    <md-table-cell>{{ user.name }}</md-table-cell>
                                    <md-table-cell>{{ user.email }}</md-table-cell>
                                    <md-table-cell>{{ user.phone }}</md-table-cell>
                                    <md-table-cell>{{ user.gender }}</md-table-cell>
                                    <md-table-cell>{{ user.dob }}</md-table-cell>
                                    <md-table-cell>{{ user.biography }}</md-table-cell>
                                </md-table-row>
                            </md-table-body>
                        </md-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import MdTableRow from "../../../../node_modules/vue-material/src/components/mdTable/mdTableRow.vue";
    import MdTableCell from "../../../../node_modules/vue-material/src/components/mdTable/mdTableCell.vue";

    $(document).ready(function(){
        axios.get('users').then((response) => {
            this.list = response.data;
        });
    });

    export default {
        components: {MdTableCell, MdTableRow},

        data() {
            return {
                list: this.fetchUsersList(),
                user: {
                    id: '',
                    name: '',
                    email: '',
                    phone: '',
                    gender: '',
                    dob: '',
                    biography: '',
                    avatar: '',
                }
            };
        },
        methods: {
            fetchUsersList() {
                axios.get('users').then((response) => {
                    this.list = response.data;
                });
            },
            getAvatar(avatar) {
                return window.baseUrl+avatar
            },
            createUser() {
                return window.baseUrl+'/users/create';
            }
        }
    }
</script>